@font-face {
  font-family: "roboto";
  src: url("fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "roboto";
  src: url("fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
}

div,
span,
h1,
h2,
h3,
p,
body,
textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #f6f6f6;
  font-family: "roboto";
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
